<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
</head>

<body>

    <div class="button-bar">
        <button onclick="toggleDiv('div1')" class="buttonTab video active-button">Video</button>
        <button onclick="toggleDiv('div2')" class="buttonTab scoring">Scoring</button>
        <button onclick="toggleDiv('div3')" class="buttonTab textspeech">Speech Analysis Report</button>
    </div>

    <span class="downloadBtn">
        <a href="http://localhost/innovation/VAAI_Scorecard_speech.pdf" class="download-btn" target="_blank" download="yourfile.pdf">          </a>
    </span>
    <div class="main-content">
        <div id="div1" class="toggle-div active">
            <h2 class="qna">Questions and Answers</h2>
            <div class="qa-section">
                {% for result in data['results'] %}
                <div class="qa-item">
                    <h3><span class="que">Question {{ loop.index }}</span>: {{ result['question'] }}</h3>
                    <p><strong><span class="ans">Answer:</span></strong> {{ result['answer'] }}</p>
                    <video controls>
                        <source src="http://localhost/innovation{{ url_for('uploads', filename=result['videofile']) }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="div2" class="toggle-div">
            <h2 class="sentimentHeading qna">Overall Sentiment and Emotion Percentages</h2>
            <div>
                <h3 class="subHeading">Sentiment Percentages</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Sentiment</th>
                            <th>Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Positive</td>
                            <td>{{ data['overall_sentiment_percentages']['Positive'] }}%</td>
                        </tr>
                        <tr>
                            <td>Neutral</td>
                            <td>{{ data['overall_sentiment_percentages']['Neutral'] }}%</td>
                        </tr>
                        <tr>
                            <td>Negative</td>
                            <td>{{ data['overall_sentiment_percentages']['Negative'] }}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div>
                <h3 class="subHeading">Emotion Percentages</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Emotion</th>
                            <th>Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Angry</td>
                            <td>{{ data['overall_emotion_percentages']['angry'] }}%</td>
                        </tr>
                        <tr>
                            <td>Disgust</td>
                            <td>{{ data['overall_emotion_percentages']['disgust'] }}%</td>
                        </tr>
                        <tr>
                            <td>Fear</td>
                            <td>{{ data['overall_emotion_percentages']['fear'] }}%</td>
                        </tr>
                        <tr>
                            <td>Happy</td>
                            <td>{{ data['overall_emotion_percentages']['happy'] }}%</td>
                        </tr>
                        <tr>
                            <td>Sad</td>
                            <td>{{ data['overall_emotion_percentages']['sad'] }}%</td>
                        </tr>
                        <tr>
                            <td>Surprise</td>
                            <td>{{ data['overall_emotion_percentages']['surprise'] }}%</td>
                        </tr>
                        <tr>
                            <td>Neutral</td>
                            <td>{{ data['overall_emotion_percentages']['neutral'] }}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div id="div3" class="toggle-div">
            <div>
                <h3>Sentiment Analysis Chart</h3>
                <img src="{{ url_for('output_files', filename='sentiment_analysis_chart.png') }}"
                    alt="Sentiment Analysis Chart">
            </div>

            <div>
                <h3>Emotion Analysis Chart</h3>
                <img src="{{ url_for('output_files', filename='emotion_analysis_chart.png') }}"
                    alt="Emotion Analysis Chart">
            </div>

            <div>
                <h3>Word Cloud</h3>
                <img src="{{ url_for('output_files', filename='wordcloud_answers.png') }}" alt="Word Cloud">
            </div>
        </div>
    </div>

    <script>
        function toggleDiv(divId) {
            var divs = document.querySelectorAll('.toggle-div');
            var buttons = document.querySelectorAll('.button-bar button');

            // Hide all divs and remove active class from all buttons
            divs.forEach(function (div) {
                div.classList.remove('active');
            });
            buttons.forEach(function (button) {
                button.classList.remove('active-button');
            });

            // Show the selected div and add active class to the corresponding button
            var selectedDiv = document.getElementById(divId);
            selectedDiv.classList.add('active');

            // Add active class to the corresponding button
            var activeButton = Array.from(buttons).find(button => button.onclick.toString().includes(divId));
            if (activeButton) {
                activeButton.classList.add('active-button');
            }
        }
    </script>

</body>

</html>