<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIA avatar</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">

    <style>
        h1 span {
            background: yellow;
            border: 2px solid #8e1515;
            padding: 2px 8px;
            margin: 2px 5px;
            border-radius: 7px;
            color: #8e1515;
            display: inline-block;
        }

        video {
            max-height: 255px;
            max-width: 100%;
            border-radius: 5px;
            border: 1px solid black;
            padding: 2px;
        }
    </style>

    <link rel="stylesheet" href="https://www.webrtc-experiment.com/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="profile container">
        <main>
            <div class="form-container">
                <span style="font-size: 24px; letter-spacing: 2px; font-weight: bold;">PARTICIPANT</span>
                <form id="registrationForm" class="registrationForm">
                    <div class="form-group" style="display: flex;">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" required>
                        <span class="error-message" id="nameError"></span>
                    </div>
                    <div class="form-group" style="display: flex;">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                        <span class="error-message" id="emailError"></span>
                    </div>                 
                    <button type="submit">Submit</button>
                </form>
            </div>
        </main>
        
    </div>

    <section class="experiment" style="text-align: center;">
        <button id="start">Start Interview</button>
        <button id="stop">End Interview</button>
        <button id="submit">I've finished answering!</button>
        <button id="nextQuestion">Next Question</button>

        <div id="video-preview" style="margin-top: 15px;">
            <h2 style="display: block;"></h2>
            <img id="avatar" src="{{ url_for('static', filename='images/anna_costume1_cameraA.png') }}" style="max-width: 100%;max-height:255px">
            <!-- <video id="avatarVideo" src="" autoplay></video> -->

            <video id="avatarVideo" autoplay poster="{{ url_for('static', filename='images/anna_costume1_cameraA.png') }}">
                <source src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <video id="video" autoplay muted></video>
        </div>

    </section>

    <section class="endCall">
        <h1>Inteview Ended</h1>
        <p>Thanks for you for joinin this call</p>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/recordrtc@5.6.0/RecordRTC.js"></script>

    <script src="../static/js/common.js"></script>


</body>

</html>